body{
    font-family: 'Varela Round', sans-serif;
    min-height: 100vh;
    background-color: darkslategray;
}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-color: black;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0.9;
    display: block;
    
}
ul li{
    line-height: 40px;
    opacity: 1.2;
    text-align: center;
    font-size: 30px;

}
.sub{
    background-color: rgb(68, 68, 68);
    position: relative;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li a:hover {
background-color: green;
size: 30px;
height: 40px;
}
ul li ul li {
    display: none;
}
ul li:hover ul li {
    display: block;
}
main {
    margin-top: 25%;
}


h2{
background-color: gray;
opacity: 0,5;
margin-top: 27vh;


}

.work{
    width: 100%;
    margin-top: 2%;
}
.down{
    margin-top: -80vh;
}
h1 {
    display: block;
    font-size: 5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: -38vh;
    color: white;
    text-align: center;
}
main{
    margin-top: 10vh;
}

.ticket{
    background-color: white;
    width: 28vh;
    height: 0;
    padding-bottom: 27vh;
}
